

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload cat</title>
</head>
<body>
    <%- include('partial/navbar')%>
    <div>
        <div>
            <div>
                <h2>Upload a Cat</h2>
                <form action="/edit/<%= cat._id %>" method="POST">
                    <div>
                        <label for="name"></label>
                        <input type="text" id="name" name="name" value="<% cat.name %>" required>
                    </div>
                    <div>
                        <label for="age"></label>
                        <input type="number" id="age" name="age" value="<% cat.age %>" required>
                    </div>
                    <div>
                        <label for="favoriteFood"></label>
                        <input type="text" id="favoriteFood" name="favoriteFood" value="<% cat.favoriteFood %>" required>
                    </div>
                    <div>
                        <label for="funFact"></label>
                        <input type="text" id="funFact" name="funFact" value="<% cat.funFact %>" required>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>